/* button theme */
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 30px;
  background-color: gray;
  float: right;
  border-radius: 100px;
  position: relative;
}

label::after {
  content: '';
  position: absolute;
  top: 2.5px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + label { 
  background-color: var(--default-green);
}

input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}  

/* button new trasaction */

a {
  color: var(--new-transaction);
  text-decoration: none;
  font-size: 1.4rem;
}

a:hover {
  color: var(--new-hover);
  transition: 500ms;
} 
  
/*button form  */
button {
  width: 100%;
  height: 50px;

  border: none;
  color: #ffffff;
  outline: none;
  background: var(--default-green);
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  background: var(--light-green);
  transition: 1s;
}

.button.new {
  display: inline-block;
  margin-bottom: 0.8rem
}

.button.cancel {
  height: 50px;

  border: 1.5px solid var(--red);
  border-radius: 0.25rem;
  color: var(--red);

  display: flex;
  align-items: center;
  justify-content: center; 
}

.button.cancel:hover {
  background: var(--red);
  color: #ffffff;
}

